table tbody tr {
  line-height: 5rem;
}

.header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.header-icon {
  margin-left: 5px; /* Adjust the spacing between the text and the icon */
}