@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}

.dropdown-content{
  display : none;
  position : absolute;
  marginleft : 20%;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: white;
  min-width : 200px;
}

 /* 타블렛 */
@media screen and (max-width:1023px) {
  .filter{
    width:30%;
    float:right;
    
  }
}

 /* 모바일 */
 @media screen and (max-width: 767px) {
  .filter {
    width: 80%;
    display: flex;
    justify-content: flex-end; /* Use flex-end to align to the right */
  }
}

